name: Build & Push Docker Image (Docker Hub)

on:
  push:
    branches:
    - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | \
        docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build \
          -t ${{ secrets.DOCKER_USERNAME }}/cicd-pipeline-viz:latest \
          -f frontend/Dockerfile \
          frontend
    

    - name: Push image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/cicd-pipeline-viz:latest
