name: Manual Docker Build & Push (Docker Hub)

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag (e.g. v1.0.0, commit-sha, latest)"
        required: true
        default: "latest"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | \
        docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: |
        docker build \
          -t ${{ secrets.DOCKER_USERNAME }}/cicd-pipeline-viz:${{ github.event.inputs.image_tag }} \
          -f application/Dockerfile \
          application

    - name: Push Docker image
      run: |
        docker push \
          ${{ secrets.DOCKER_USERNAME }}/cicd-pipeline-viz:${{ github.event.inputs.image_tag }}
