name: Update Helm Image Tag

on:
  repository_dispatch:
    types: [ image_pushed ]

permissions:
  contents: write # REQUIRED for git push

jobs:
  update-helm:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Update Helm values
      run: |
        TAG="${{ github.event.client_payload.tag }}"
        sed -i "s/tag:.*/tag: ${TAG}/" helm/cicd-pipeline/values.yaml

    - name: Commit and push
      run: |
        git config user.name "gitops-bot"
        git config user.email "gitops-bot@github.com"
        git add helm/cicd-pipeline/values.yaml
        git commit -m "chore: update image tag to ${TAG}"
        git push


    # - name: Commit and push if changed
    #   run: |
    #     git config user.name "gitops-bot"
    #     git config user.email "gitops-bot@github.com"
    
    #     if git diff --quiet; then
    #       echo "No changes detected. Skipping commit."
    #       exit 0
    #     fi
    
    #     git add helm/cicd-pipeline/values.yaml
    #     git commit -m "chore(gitops): update image tag to ${TAG}"
    #     git push